{% extends "base.html" %}
{% block title %}Teacher Dashboard{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Übersicht Deputate</h2>
    <p><a href="{{ url_for('export_dashboard_csv') }}" class="btn btn-outline-primary mb-3">
            Export
        </a>
    </p>

    <table class="table table-bordered table-hover table-sm align-middle">
        <thead class="table-dark">
            <tr>
                <th>Lehrer*in</th>
                <th>Deputat</th>
                <th>Anr</th>
                <th>Bonus</th>
                <th>Deputat (net)</th>
                <th>WS</th>

                <th>Delta</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="{% if row.delta < 0 %}table-danger{% elif row.delta > 0 %}table-success{% else %}table-info{% endif %}">
                <td>{{ row.teacher }}</td>
                <td>{{ row.dep | round(1) }}</td>
                <td>{{ row.anr }}</td>
                <td>{{ row.bonus }}</td>
                <td>{{ row.expected }}</td>
                <td>{{ row.assigned }}</td>
                <td>{% if row.delta>0 %}+{% endif %}{{ row.delta }}</td>
                <td><a href="{{ url_for('show_teacher_load', name=row.teacher) }}" class="btn btn-sm btn-outline-primary">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}