{% extends "base.html" %}
{% block title %}Klassenübersicht{% endblock %}

{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>{% endblock %}

{% block style %}
<style>
  td:nth-child(6n+1),
td:nth-child(6n+2),
td:nth-child(6n+3),
th:nth-child(6n+1),
th:nth-child(6n+2),
th:nth-child(6n+3) {
  background-color: #f8f9fa; /* gray */
}
</style>
{% endblock %}

{% block content %}

  <h2 class="mb-4">Teacher-Class Summary Table</h2>
  
  <div id='table-container' class="table-responsive">

     {% include "partials/_class_summary_table.html" %}
   
  </div>
  
{% endblock %}


